<div class="fixed-bottom">
  <footer id="sticky-footer" class="py-2 bg-dark text-white">
    <div class="container text-center mb-lg-3">
      <small>Copyright &copy; Your Website</small>
    </div>
</footer>
</div>


